<!DOCTYPE html>
<!-- saved from url=(0062)https://themesbrand.com/skote/layouts/vertical/projects-create.html -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Dashboard | Ahioma - No_1 Virtual Market</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/NEW-VF.png">

    <!-- Bootstrap Css -->
    <link href="~/v1/bootstrap-dark.min.css" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="~/v1/icons.min.css" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="~/v1/app-dark.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/site.css" rel="stylesheet" />

    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <style>

        .card-mini-text {
            color: #182038;
        }

        .card-mini {
            background-color: #d3d6de;
        }
    </style>
</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">


                        <a href="#" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="~/images/ahioma-icon.png" alt="" height="">
                            </span>
                            <span class="logo-lg">
                                <img src="~/images/ahioma_logo.png" alt="" height="">
                            </span>
                        </a>


                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

               
                    
                </div>

             
            </div>
        </header> <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <div data-simplebar="init" class="h-100">
                <div class="simplebar-wrapper" style="margin: 0px;">
                    <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                        <div class="simplebar-offset" style="right: -17px; bottom: 0px;">
                            <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                                <div class="simplebar-content" style="padding: 0px;">

                                    <!--- Sidemenu -->
                                    <div id="sidebar-menu">
                                        <!-- Left Menu Start -->
                                        <ul class="metismenu list-unstyled" id="side-menu">
                                            </ul>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div><div class="simplebar-placeholder" style="width: auto; height: 1001px;"></div>
                </div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 255px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div>
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                           
                        </div>
                    </div>
                    @RenderBody()
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            <!-- Modal -->
            
            <!-- end modal -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Ahioma.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-right d-none d-sm-block">
                                Powered by <a href="#">EXWHYZEE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="~/v1/jquery.min.js"></script>
    <script src="~/v1/bootstrap.bundle.min.js"></script>
    <script src="~/v1/metisMenu.min.js"></script>
    <script src="~/v1/simplebar.min.js"></script>
    <script src="~/v1/waves.min.js"></script>
    <script src="~/v1/dashboard.init.js"></script>
    <!-- apexcharts -->
    <script src="~/v1/apexcharts.min.js"></script>
    <!-- Required datatable js -->
    <script src="~/v1/jquery.dataTables.min.js"></script>
    <script src="~/v1/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/v1/dataTables.buttons.min.js"></script>
    <script src="~/v1/buttons.bootstrap4.min.js"></script>
    <script src="~/v1/jszip.min.js"></script>
    <script src="~/v1/pdfmake.min.js"></script>
    <script src="~/v1/vfs_fonts.js"></script>
    <script src="~/v1/buttons.html5.min.js"></script>
    <script src="~/v1/buttons.print.min.js"></script>
    <script src="~/v1/buttons.colVis.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/v1/dataTables.responsive.min.js"></script>
    <script src="~/v1/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/v1/datatables.init.js"></script>

    <script src="~/v1/app.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/tinymce/tinymce.min.js"></script>

    <script>
        tinymce.init({
            mode: "specific_textareas",
            selector: "textarea#mytextarea",
            height: 400,
            theme: 'modern'
        });</script>

    <script>
        var currencyInput = document.querySelector('input[type="currency"]')
        var currency = 'NGN' // https://www.currency-iso.org/dam/downloads/lists/list_one.xml

        // format inital value
        onBlur({ target: currencyInput })

        // bind event listeners
        currencyInput.addEventListener('focus', onFocus)
        currencyInput.addEventListener('blur', onBlur)


        function localStringToNumber(s) {
            return Number(String(s).replace(/[^0-9.-]+/g, ""))
        }

        function onFocus(e) {
            var value = e.target.value;
            e.target.value = value ? localStringToNumber(value) : ''
        }

        function onBlur(e) {
            var value = e.target.value

            var options = {
                maximumFractionDigits: 2,
                currency: currency,
                style: "currency",
                currencyDisplay: "symbol"
            }

            e.target.value = value
                ? localStringToNumber(value).toLocaleString(undefined, options)
                : ''
        }
    </script>
    <script>
        var currencyInput = document.querySelector('input[type="currency2"]')
        var currency = 'NGN' // https://www.currency-iso.org/dam/downloads/lists/list_one.xml

        // format inital value
        onBlur({ target: currencyInput })

        // bind event listeners
        currencyInput.addEventListener('focus', onFocus)
        currencyInput.addEventListener('blur', onBlur)


        function localStringToNumber(s) {
            return Number(String(s).replace(/[^0-9.-]+/g, ""))
        }

        function onFocus(e) {
            var value = e.target.value;
            e.target.value = value ? localStringToNumber(value) : ''
        }

        function onBlur(e) {
            var value = e.target.value

            var options = {
                maximumFractionDigits: 2,
                currency: currency,
                style: "currency",
                currencyDisplay: "symbol"
            }

            e.target.value = value
                ? localStringToNumber(value).toLocaleString(undefined, options)
                : ''
        }
    </script>
    <script>
        var currencyInput = document.querySelector('input[type="currency3"]')
        var currency = 'NGN' // https://www.currency-iso.org/dam/downloads/lists/list_one.xml

        // format inital value
        onBlur({ target: currencyInput })

        // bind event listeners
        currencyInput.addEventListener('focus', onFocus)
        currencyInput.addEventListener('blur', onBlur)


        function localStringToNumber(s) {
            return Number(String(s).replace(/[^0-9.-]+/g, ""))
        }

        function onFocus(e) {
            var value = e.target.value;
            e.target.value = value ? localStringToNumber(value) : ''
        }

        function onBlur(e) {
            var value = e.target.value

            var options = {
                maximumFractionDigits: 2,
                style: "currency",
                currencyDisplay: "symbol"
            }

            e.target.value = value
                ? localStringToNumber(value).toLocaleString(undefined, options)
                : ''
        }
    </script>
</body>
</html>