<div class="hidden-lg hidden-md">
    <div class="container">
        <div class="section">
            <h5 class="pagetitle">@ViewData["Title"]</h5>
        </div>
    </div>

    <div class="container" style="width:90%;">
        <div class="section">

            <div class="row ">
                <div class="col s12 pad-0">
                    <div class="search-bar">
                        <nav class="ui-forms">
                            <div class="nav-wrapper">
                                <form method="get" asp-page="/Search" asp-route-hdsearcw="asd23A-jnbsbdd-Nhauy" asp-route-catidlogger="hjdjfgbjhfbyewueureuweryweiuywurjhsdjbsjcfdshjsjchbcjbsdkvjbk">

                                    <div class="input-field">
                                        <input hidden name="catidlogger" value="MHHkkqndfmvnHGJHhgj2020-00-20MASTECH-ahioma-query-securjhh" />
                                        <input hidden name="hdsearcw" value="12387875ghxGFX762HXJ768E6WE" />
                                        <input id="search" name="searchString" type="search" placeholder="Search Products in Shops and Markets" value="@TempData["search"]" required="">
                                        <label for="search" class="active">
                                            <button type="submit" style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;">
                                                <i class="mdi mdi-magnify"></i>
                                            </button>
                                        </label>
                                        <i class="material-icons mdi mdi-close"></i>
                                    </div>
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>