@page
@model ForgotPasswordConfirmation
@{ ViewData["Title"] = "Forgot password confirmation";
    Layout = "/Pages/Shared/_LoginLayout.cshtml"; }
  
                        <h2>
                            Please check your email to reset your password.
                        </h2><br />
                        <div>
                            <form asp-page-handler="ResendMail" method="post">
                                <input hidden asp-for="Email" value="@TempData["mail"]" />
                                Didn't get email in 3min <button class="btn btn-primary">click to resend</button>
                            </form>

                        </div>
