@page
@model ResetPasswordConfirmationModel
@{ ViewData["Title"] = "Reset password confirmation";
    Layout = "/Pages/Shared/_LoginLayout.cshtml"; }


                        <div class="panel">
                            <div class="panel-header">
                                <h2 class="panel-title">@ViewData["Title"] </h2>
                            </div>
                            <div class="panel-body">
                                @if (TempData["error"] == null)
                                {
                    <p>
                        Your password has been reset. Please <a asp-page="/Login" asp-area="">click here to log in</a>.
                    </p> }
                else
                {
    <p>
        Invalid User
    </p>}
                            </div>
                        </div>

