@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h1>@ViewData["Title"]</h1>
                @await Html.PartialAsync("_StatusMessage", Model.StatusMessage)

            </div>
        </div>
    </div>
</div>