@page
@model Exwhyzee.AhiomaDashboard.MainWebsite.Pages.CategoryListModel
@{
}


@{
    ViewData["Title"] = "Category";
    Layout = "/Pages/Shared/_WebLayout.cshtml";
}

<partial name="_header_One" />
<div class="main-body clearfix sidebar--left">
    <div class="hidden-sm hidden-xs">
        <h3 class="" style="padding:5px 0 2px;color:#ff6a00;margin:6px auto 0px;text-align:center;">
            <a href="">
                All Category
                <i class="fa fa-caret-right"></i>
            </a> 
        </h3>

    </div>
    <div class="container">

        <div class="row page">

          
            <main class="col-lg-12 col-md-12 page-content" id="product-listing-container">
                <div class="module clearfix ">


                    <div id="" class="sb-listing-tabs container">

                        <div class="ltabs-container d-flex">

                            <div class="ltabs-items-container ltabs-items-container--image">
                                @*@foreach(var item in Model.CategoryList)
                                {

                                }*@

                            </div>


                        </div>
                    </div>




                </div>
            </main>


        </div>
    </div>
</div>
