@page
@model WishlistModel
@{
    ViewData["Title"] = "Wishlist";
}
<div class="page-content-wrapper">
    <div class="container">
        <!-- Section Heading-->
        <div class="section-heading d-flex align-items-center pt-3 justify-content-between">
            <h6>Wishlist</h6>
        </div>
        <!-- Notifications Area-->
        <div class="notification-area pb-2">
            <div class="list-group">
                <h2>Coming soon</h2>

            </div>
        </div>
    </div>
</div>