@model Exwhyzee.AhiomaDashboard.EntityFramework.Tables.UserProfile


<div class="dropdown d-inline-block">
    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @if (Model != null)
        {
            @if (!String.IsNullOrEmpty(Model.ProfileUrl))
            {
                <img class="rounded-circle header-profile-user" src="@Model.ProfileUrl" alt="ahioma @Model.Fullname">

            }
            else
            {
                <img class="rounded-circle header-profile-user" src="~/images/NEW-VF.png" alt="ahioma">

            }
            <span class="d-none d-xl-inline-block ml-1">@Model.Surname</span>
            <i class="fa fa-chevron-down d-none d-xl-inline-block"></i>
        }
        else
        {
            <img class="rounded-circle header-profile-user" src="~/images/NEW-VF.png" alt="ahioma">

            <span class="d-none d-xl-inline-block ml-1">user</span>
            <i class="fa fa-chevron-down d-none d-xl-inline-block"></i>
        }
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <!-- item-->
        <a class="dropdown-item" asp-area="User" asp-page="/Account/Profile"><i class="bx bx-user font-size-16 align-middle mr-1"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="bx bx-wallet font-size-16 align-middle mr-1"></i> My Wallet</a>
        <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right">11</span><i class="bx bx-wrench font-size-16 align-middle mr-1"></i> Settings</a>
        <a class="dropdown-item" href="#"><i class="bx bx-lock-open font-size-16 align-middle mr-1"></i> Lock screen</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-danger" href="javascript:document.getElementById('logoutForm').submit()"><i class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i> Logout</a>
    </div>
</div>