@page
@model Exwhyzee.AhiomaDashboard.MainWebsite.Areas.User.Pages.Account.TrackOrderModel
@{
}
<div class="row">

    <style>
        @@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap");

        .root {
            padding: 1rem;
            border-radius: 5px;
            box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
        }

        figure {
            display: flex;
        }

            figure img {
                width: 8rem;
                height: 8rem;
                border-radius: 15%;
                border: 1.5px solid #f05a00;
                margin-right: 1.5rem;
                padding: 1rem;
            }

            figure figcaption {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }

                figure figcaption h4 {
                    font-size: 1.4rem;
                    font-weight: 500;
                }

                figure figcaption h6 {
                    font-size: 1rem;
                    font-weight: 300;
                }

                figure figcaption h2 {
                    font-size: 1.6rem;
                    font-weight: 500;
                }

        .order-track {
            margin-top: 2rem;
            padding: 0 1rem;
            border-top: 1px dashed #2c3e50;
            padding-top: 2.5rem;
            display: flex;
            flex-direction: column;
        }

        .order-track-step {
            display: flex;
            height: 7rem;
        }

            .order-track-step:last-child {
                overflow: hidden;
                height: 4rem;
            }

                .order-track-step:last-child .order-track-status span:last-of-type {
                    display: none;
                }

        .order-track-status {
            margin-right: 1.5rem;
            position: relative;
        }

        .order-track-status-dot {
            display: block;
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
            background: #f05a00;
        }

        .order-track-status-line {
            display: block;
            margin: 0 auto;
            width: 2px;
            height: 7rem;
            background: #f05a00;
        }

        .order-track-text-stat {
            font-size: 1.3rem;
            font-weight: 500;
            margin-bottom: 3px;
        }

        .order-track-text-sub {
            font-size: 1rem;
            font-weight: 300;
        }

        .order-track {
            transition: all .3s height 0.3s;
            transform-origin: top center;
        }

        @@media (max-width: 400px) {
            .order-track-text-stat {
                font-size: 0.8rem;
                font-weight: 500;
                margin-bottom: 2px;
            }

            figure img {
                width: 4rem;
                height: 4rem;
                border-radius: 15%;
                border: 1.5px solid #f05a00;
                margin-right: 0.9rem;
                padding: 0.6rem;
            }
            figure figcaption h4 {
                font-size: 0.8rem;
                font-weight: 500;
            }
            figure figcaption h6 {
                font-size: 0.6rem;
                font-weight: 300;
            }
            figure figcaption h2 {
                font-size: 0.8rem;
                font-weight: 300;
            }
        }
    </style>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    <a onclick="goBack()"><i class="fa fa-caret-left" style="font-size:15px;font-weight:900;"></i></a>
                    Order Details
                </h4>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-8">

                        <div class="">
                           
                            <section class="root">
                                <figure>
                                    <img src="~/images/970514.svg" alt="">
                                    <figcaption>
                                        <h4>Tracking Details</h4>
                                        <h6>Order Number</h6>
                                        <h2># @Model.OrderItem.Order.OrderId</h2>
                                    </figcaption>
                                </figure>
                                <div class="order-track">
                                    @foreach (var it in Model.TrackOrder)
                                    {
                                        <div class="order-track-step">
                                            <div class="order-track-status">
                                                <span class="order-track-status-dot"></span>
                                                <span class="order-track-status-line"></span>
                                            </div>
                                            <div class="order-track-text">
                                                <p class="order-track-text-stat">@it.Status</p>
                                                <span class="order-track-text-sub">@it.Date.ToString("dd MMM, yyyy")</span>
                                                @if (String.IsNullOrEmpty(it.Note))
                                                {
                                                <span class="order-track-text-sub">@it.Note</span>
                                                }
                                            </div>
                                        </div>
                                    }

                                </div>
                            </section>

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>



</div>