@page
@model PhoneNumberModel
@{
    ViewData["Title"] = "PhoneNumber Verification";
    ViewData["ActivePage"] = ManageNavPages.Email;
}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4>@ViewData["Title"]</h4>
                <partial name="_StatusMessage" model="Model.StatusMessage" />
                @if (TempData["Confirmed"] != null)
                {
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong> @TempData["Confirmed"]
                    </div>
                }
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong> @TempData["error"]
                    </div>
                }
                
                <div class="row">
                    <div class="col-md-6">
                        <form id="email-form" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber">Phone Number</label>
                                @if (Model.IsPhoneConfirmed)
                                {
                                    <div class="input-group">
                                       
                                        <input asp-for="PhoneNumber" class="form-control" disabled />
                                        <div class="input-group-append">
                                            <span class="input-group-text text-success font-weight-bold">✓</span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <input asp-for="PhoneNumber" class="form-control" disabled />
                                    <br />
                                    <label>Enter code sent to your phone</label>
                                    <input asp-for="Code" class="form-control" />
                                    <br />
                                    <button type="submit" asp-page-handler="SendVerificationPhone" class="btn btn-link btn-primary btn-xs" style="color:#ffffff;">verify</button>
                                    <a asp-page="./PhoneNumber" class="btn btn-link btn-warning btn-xs">Resend</a>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
