@page
@model Exwhyzee.AhiomaDashboard.Web.Areas.UserManager.Pages.ManageAccounts.UpdateShopModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tenant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tenant.Id" />
            <input type="hidden" asp-for="Tenant.UserId" />
            <input type="hidden" asp-for="Tenant.CreationTime" />
            <input type="hidden" asp-for="Tenant.TenantStatus" />


            <div class="form-group">
                <label asp-for="Tenant.TenentHandle" class="control-label"></label>
                <input asp-for="Tenant.TenentHandle" class="form-control" />
                <span asp-validation-for="Tenant.TenentHandle" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Tenant.BusinessName" class="control-label"></label>
                <input asp-for="Tenant.BusinessName" class="form-control" />
                <span asp-validation-for="Tenant.BusinessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenant.BusinessDescription" class="control-label"></label>
                <textarea asp-for="Tenant.BusinessDescription" class="form-control"></textarea>
                <span asp-validation-for="Tenant.BusinessDescription" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./AllSO">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
