@page
@model Exwhyzee.AhiomaDashboard.MainWebsite.Areas.Reconsile.Pages.Transfers.AdminAhiaPayTransferModel
@{
}
<div class="row">
    <div class="col-xl-12">
        <div class="container">

            <div class="card overflow-hidden">
                <div class="bg-soft-primary" style="padding:50px;">
                    <div class="row">


                        <div class="col-md-6">
                            <div>
                                @await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
                            </div>
                            @TempData["error"]
                            @TempData["success"]
                            <h3>Ahiapay Account Reconsiliation</h3>
                            <form onsubmit='disableButton()' class="" enctype="multipart/form-data" method="post">

                                <input asp-for="transferMoney.SenderId" value="@Model.LoggedInUser" type="hidden" id="HostedBy" name="transferMoney.SenderId">
                                <div class="">
                                    <!--Raffle Properties-->
                                    <div class="">
                                        <div class="item form-group">
                                            <label class="control-label" for="name">
                                                Phone Number <span class="required">*</span>
                                            </label>
                                            <div class="">
                                                <input class="form-control" id="input2" asp-for="transferMoney.PhoneNumber" name="transferMoney.PhoneNumber" placeholder="Enter Phone Number" autofocus required="required" type="text">
                                            </div>
                                        </div>
                                        <div id="outputmain"></div>                                        <div class="item form-group">
                                            <label class="control-label" for="name">
                                                Amount  <span class="required">*</span>
                                            </label>
                                            <div class="">
                                                <input class="form-control" asp-for="transferMoney.Amount" name="transferMoney.Amount" placeholder="Enter Amount" autofocus required="required" type="number">
                                            </div>
                                        </div>

                                        <div class="item form-group">
                                            <label class="control-label" for="name">
                                                Note
                                            </label>
                                            <div class="">
                                                <input class="form-control" asp-for="transferMoney.Note" name="transferMoney.Note" placeholder="" autofocus required="required" type="text">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="control-label" for="">
                                                AhiaPay Type
                                            </label>

                                            <div class="">
                                                <select class="form-control" asp-for="transferMoney.AhiaPayType">
                                                    <option value="Dr">Dr</option>
                                                    <option value="Cr">Cr</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="">
                                        @*<button type="button" class="btn btn-primary" asp-route="/RaffleManagement/Index">Cancel</button>*@
                                        <button id="submit" type="submit" class="btn btn-success">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />


    @*<script type="text/javascript">
        $(function () {
            // Document.ready -> link up remove event handler
            $("#CustomerID").change(function () {
                alert("Hej");
                var option = $('option:selected', this).val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("OnChange", "Home")',
                    contentType: "application/json; charset=utf-8",
                    data: { name: 1 },
                    dataType: "html",
                    success: function (success) {
                        alert('Success');
                        console.log(success);
                        for (var i = 0; i < success.length; i++) {
                            $(".form-horizontal").append("<li>" + success[i] + "      </li>");
                            console.log(success);
                        }
                    },
                    error: function (e, text, string) {
                        alert(e.message + text + string);
                        console.log(e);
                    }
                });
            });
        });
            </script>*@

<script>

    $("#input2").keyup(function () {
        console.log($('#input2').val());
        console.log("inside");
        $.ajax({
            type: 'GET',
            url: 'AdminAhiaPayTransfer?handler=Fullname',
            dataType: "json",
            data: { phone: $('#input2').val() },
            contentType: "application/json; charset=utf-8",
            error: function () {
                console.log("error");
            },
            success: function (data) {
                console.log("yes");

                console.log(data);

                console.log("ddss");
                
                $('#outputmain').html("<div class=\"item form-group\"><div class=\"\"><input class=\"form-control\" style=\"background-color:transparent !important;color:#ff0000 !important;border:none !important;\" value=\"" + data + "\" type=\"text\" readonly=\"readonly\"></div></div>");
               
                console.log("<div class=\"item form-group\"><div class=\"\"><input class=\"form-control\" style=\"background-color:transparent !important;color:#ff0000 !important;border:none !important;\" value=\"" + data + "\" type=\"text\" readonly=\"readonly\"></div></div>");

            }
        });
    });
    console.log("=d");

    console.log("=dsadf");

</script>
}
