@model Exwhyzee.AhiomaDashboard.EntityFramework.Tables.Banner

<div style="text-align:right;margin-left: 5px;" class="pull-right hidden-sm hidden-xs">
    @if (Model != null)
    {
    <a href="@Model.BarnerLink">
        <img src="https://manageahioma.exwhyzee.ng/@Model.UrlPath" class="img-responsive pull-right" style="text-align:right !important;" />
    </a>  }
</div>