@page
@model Exwhyzee.AhiomaDashboard.MainWebsite.Areas.SOA.Pages.Dashboard.CommissionModel
@{
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <h3 class="card-title">
                   My Earnings

                </h3>

            </div>
            <div class="card-body">

                <div class="text-center">
                    <h3>Update Coming soon</h3>
                </div>


            </div>
        </div>
    </div> <!-- end col -->
</div>