@page
@model Exwhyzee.AhiomaDashboard.MainWebsite.Areas.Admin.Pages.WebBanner.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="card-columns mx-auto d-flex justify-content-center col-12">

        <div class="card">
            <div class="card-header">

                <h3 class="card-title">
                    Add Banners                   
                </h3>
               
            </div>
            @TempData["error"]
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Banner.AltText" class="control-label"></label>
                        <input asp-for="Banner.AltText" class="form-control" />
                        <span asp-validation-for="Banner.AltText" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Banner.BarnerLink" class="control-label">Barner Link (e.g: https://ahioma.com/FAQs)</label>
                        <input asp-for="Banner.BarnerLink" class="form-control" />
                        <span asp-validation-for="Banner.BarnerLink" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Banner.SortOrder" class="control-label"></label>
                        <input asp-for="Banner.SortOrder" class="form-control" />
                        <span asp-validation-for="Banner.SortOrder" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Banner.Disable" /> @Html.DisplayNameFor(model => model.Banner.Disable)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Banner.BannerType" class="control-label">Banner Position</label>
                        @Html.DropDownListFor(model => model.Banner.BannerType, new SelectList(Enum.GetValues(typeof(Exwhyzee.Enums.BannerType))), new { @class = "form-control" })

                        <span asp-validation-for="Banner.BannerType" class="text-danger"></span>
                    </div>
                    <div class="item form-group">
                        <label class="control-label" for="file">
                            Upload
                        </label>
                        <div class="">
                            <input class="form-control" type="file" name="files" id="gallery-photo-add" multiple />
                            <div class="gallery"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        $(function () {
            // multiple images prevuiew in browser
            var imagesPreview = function (input, placeToInsertImagePreview) {
                if (input.files) {
                    var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                    var filesAmount = input.files.length;
                    if (filesAmount <= 5) {
                        for (i = 0; i < filesAmount; i++) {
                            var reader = new FileReader();
                            reader.onload = function (event) {
                                $($.parseHTML('<img>')).attr('src', event.target.result).attr('width', '100px').attr('height', '100px').attr('margin', '10px').attr('padding', '10px').appendTo(placeToInsertImagePreview);
                            }
                            reader.readAsDataURL(input.files[i]);
                        }
                    } else {
                        window.alert("You cant upload more than 5 images");
                    }
                }
            };
            $('#gallery-photo-add').on('change', function () {
                imagesPreview(this, 'div.gallery');
            });
        });

    </script>
}
