@page
@model Exwhyzee.AhiomaDashboard.MainWebsite.Areas.Admin.Pages.CategoryPromo.DeleteProductModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    

</div>
