@page
@model Exwhyzee.AhiomaDashboard.Web.Areas.User.Pages.Account.MobileCartModel
@{
}

@{
    ViewData["Title"] = "Cart List";
    Layout = "/Pages/Shared/_WebLayout.cshtml";
}

<div class="container full">
    <div class="section">


        <ul class="collection invoice-item">



            <li class="collection-item avatar">
                <div class="item-det">
                    <img src="assets/images/cart-1.jpg" alt="" class="circle">
                    <span class="title">Home Decor Set</span>
                    <p>Color: Coffee</p>
                </div>

                <div class="secondary-content">
                    <h6 class="top-0 ">$400.00</h6>
                </div>

            </li>







            <li class="collection-item avatar">
                <div class="item-det">
                    <img src="assets/images/cart-2.jpg" alt="" class="circle">
                    <span class="title">Crockery Set</span>
                    <p>Color: Black, Size:5 pc.</p>
                </div>

                <div class="secondary-content">
                    <h6 class="top-0 ">$66.00</h6>
                </div>

            </li>







            <li class="collection-item avatar">
                <div class="item-det">
                    <img src="assets/images/cart-3.jpg" alt="" class="circle">
                    <span class="title">Copper Lamp</span>
                    <p>Color: Copper</p>
                </div>

                <div class="secondary-content">
                    <h6 class="top-0 ">$540.00</h6>
                </div>

            </li>







            <li class="collection-item avatar">
                <div class="item-det">
                    <img src="assets/images/cart-4.jpg" alt="" class="circle">
                    <span class="title">Sports Shoe</span>
                    <p>Color: White, Size: 9</p>
                </div>

                <div class="secondary-content">
                    <h6 class="top-0 ">$230.00</h6>
                </div>

            </li>







            <li class="collection-item avatar">
                <div class="item-det">
                    <img src="assets/images/cart-5.jpg" alt="" class="circle">
                    <span class="title">Coffee Mug Set</span>
                    <p>Color: White</p>
                </div>

                <div class="secondary-content">
                    <h6 class="top-0 ">$40.00</h6>
                </div>

            </li>







            <li class="collection-item avatar">
                <div class="item-det">
                    <img src="assets/images/cart-6.jpg" alt="" class="circle">
                    <span class="title">Women Purse</span>
                    <p>Color: Pink</p>
                </div>

                <div class="secondary-content">
                    <h6 class="top-0 ">$30.00</h6>
                </div>

            </li>







            <li class="collection-item avatar">
                <div class="item-det">
                    <img src="assets/images/cart-7.jpg" alt="" class="circle">
                    <span class="title">Women Shoes</span>
                    <p>Color: Teal, Size: 7</p>
                </div>

                <div class="secondary-content">
                    <h6 class="top-0 ">$820.00</h6>
                </div>

            </li>







            <li class="collection-item avatar">
                <div class="item-det">
                    <img src="assets/images/cart-8.jpg" alt="" class="circle">
                    <span class="title">Sports Shoes</span>
                    <p>Color: White, Size: 6</p>
                </div>

                <div class="secondary-content">
                    <h6 class="top-0 ">$30.00</h6>
                </div>

            </li>







            <li class="collection-item avatar">
                <div class="item-det">
                    <img src="assets/images/cart-9.jpg" alt="" class="circle">
                    <span class="title">Women Sandals</span>
                    <p>Color: Cream, Size: 7</p>
                </div>

                <div class="secondary-content">
                    <h6 class="top-0 ">$30.00</h6>
                </div>

            </li>







            <li class="collection-item avatar">
                <div class="item-det">
                    <img src="assets/images/cart-10.jpg" alt="" class="circle">
                    <span class="title">Men Canvas</span>
                    <p>Color: Teal, Size: 8</p>
                </div>

                <div class="secondary-content">
                    <h6 class="top-0 ">$30.00</h6>
                </div>

            </li>







            <li class="collection-item avatar">
                <div class="item-det">
                    <img src="assets/images/cart-11.jpg" alt="" class="circle">
                    <span class="title">Furniture Set</span>
                    <p>Color: Cream</p>
                </div>

                <div class="secondary-content">
                    <h6 class="top-0 ">$30.00</h6>
                </div>

            </li>






            <li class="collection-item non-avatar total">
                <div class="item-det">
                    <h6 class="">Total Amount</h6>
                </div>
                <div class="secondary-content">
                    <h5 class="top-0">$2130.00</h5>
                </div>
            </li>







        </ul>


        <div class="spacer"></div>
        <div class="center">
            <a class="waves-effect waves-light btn-large bg-primary ">Continue Shopping</a> &nbsp;
            <a class="waves-effect waves-light btn-large bg-primary ">Checkout</a>
        </div>

    </div>
</div>

@section Scripts {

<script>
  

    /* code here */
    var total = document.getElementById('quantity');
    console.log('enabled');
    document.getElementById('minus').disabled = true;
        if (total.value > 1) {
            console.log('enabled');
            document.getElementById('minus').disabled = false;
        }
 
    
</script>
}
