@model Exwhyzee.AhiomaDashboard.EntityFramework.Tables.ProductPicture
@if (Model!= null)
{


<a href="/@Model.PictureUrl">
    <img src="https://manageahioma.exwhyzee.ng/@Model.PictureUrlThumbnail" style="max-height:50px;" class="img-responsive" />
</a>
}