@page
@model Exwhyzee.AhiomaDashboard.Web.Areas.Admin.Pages.MessagingPage.GetNumbersModel

@{
    ViewData["Title"] = "Get Numbers";
}
<div class="row">
    <div class="card-columns mx-auto d-flex justify-content-center col-12">

        <div class="card">
            <div class="card-header">

                <h3 class="card-title">
                  Send SMS Message <strong><span style="font-size:19px;font-weight:800;">@TempData["balance"]</span></strong>
                </h3>
            </div>
            <div class="card-body">

                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Select Role</label>
                        <select class="form-control" name="Role">
                            <option>Choose</option>
                            <option value="All SOA">All SOA</option>
                            <option value="Active SOA">Active SOA</option>
                            <option value="Non Active SOA">Non Active SOA</option>

                            <option value="All Shop">All Shop</option>
                            <option value="Active Shop">Active Shop</option>
                            <option value="Non Active Shop">Non Active Shop</option>

                            <option value="All Customer">All Customer</option>
                            @*<option value="Active Customer">Active Customer</option>
                            <option value="Non Active Customer">Non Active Customer</option>*@

                            <option value="All Logistics">All Logistics</option>
                            @*<option value="Active Logistics">Active Logistics</option>
                            <option value="Non Active Logistics">Non Active Logistics</option>*@


                            <option value="All">All</option>


                        </select>

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Continue" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>
<div style="margin-bottom:400px;">
    .
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
