@page
@model Exwhyzee.AhiomaDashboard.Web.Areas.Admin.Pages.MessagingPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <h3 class="card-title">
                    Messaging

                </h3>
               

            </div>

            <div class="card-body">


                <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <a asp-page="./GetNumbers" style="width:100%;padding:30px;" class="btn btn-primary">SEND SMS</a>
                                </div>
                                <div class="col-md-6">
                                    <a asp-page="./GetEmails" style="width:100%;padding:30px;" class="btn btn-danger">SEND Email</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div> <!-- end col -->
</div>
<div style="margin-bottom:400px;">
    .
</div>